<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gr.blog.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="gr.blog.model.Article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="click_count" property="clickCount" jdbcType="INTEGER" />
    <result column="is_recommend" property="isRecommend" jdbcType="VARCHAR" />
    <result column="date_publish" property="datePublish" jdbcType="DATE" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="gr.blog.model.Article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>

  <resultMap id="ResultMapWithCategory" type="gr.blog.model.Article" extends="BaseResultMap" >
    <association property="blogCategory" resultMap="gr.blog.mapper.BlogCategoryMapper.BaseResultMap"></association>
  </resultMap>

  <resultMap id="ResultMapWithCategoryAndBLOBs" type="gr.blog.model.Article" extends="ResultMapWithBLOBs" >
    <association property="blogCategory" resultMap="gr.blog.mapper.BlogCategoryMapper.BaseResultMap"></association>
  </resultMap>

  <sql id="Base_Column_List" >
    id, title, description, click_count, is_recommend, date_publish, author_id, category_id,
    tag_id,photo
  </sql>

  <sql id="Blob_Column_List" >
    content
  </sql>

  <cache eviction="LRU" flushInterval="5000" size="10000"/>

  <!-- 分页查询 -->
  <select id="getAllArticle" resultMap="ResultMapWithCategory" parameterType="java.util.Map" useCache="true">
    select
    t1.id, title, description, click_count, is_recommend, date_publish, author_id, category_id,
    tag_id,photo, category_name
    from blog_article t1 left join blog_category t2 on t2.id = t1.category_id
    <if test="sSearch != null and sSearch != ''">
      <where>
        <if test="id != null" >
          id like '%${sSearch}%'
        </if>
        <if test="title != null" >
          or title like '%${sSearch}%'
        </if>
        <if test="description != null" >
          or description like '%${sSearch}%'
        </if>
        <if test="clickCount != null" >
          or click_count like '%${sSearch}%'
        </if>
        <if test="datePublish != null" >
          or date_publish like binary '%${sSearch}%'
        </if>
        <if test="authorId != null" >
          or author_id like '%${sSearch}%'
        </if>
        <if test="categoryId != null" >
          or category_id like '%${sSearch}%'
        </if>
        <if test="tagId != null" >
          or tag_id like '%${sSearch}%'
        </if>
        <if test="content != null" >
          or content like '%${sSearch}%'
        </if>
      </where>
    </if>
    <if test="orderColumn != null and orderDir != null">
    order by ${orderColumn} ${orderDir}
    </if>

  </select>

  <!-- 查询总数 -->
  <select id="getCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(*) count from blog_article
    <if test="sSearch != null and sSearch != ''">
      <where>
        <if test="id != null" >
          id like '%${sSearch}%'
        </if>
        <if test="title != null" >
          or title like '%${sSearch}%'
        </if>
        <if test="description != null" >
          or description like '%${sSearch}%'
        </if>
        <if test="clickCount != null" >
          or click_count like '%${sSearch}%'
        </if>
        <if test="datePublish != null" >
          or date_publish like binary '%${sSearch}%'
        </if>
        <if test="authorId != null" >
          or author_id like '%${sSearch}%'
        </if>
        <if test="categoryId != null" >
          or category_id like '%${sSearch}%'
        </if>
        <if test="tagId != null" >
          or tag_id like '%${sSearch}%'
        </if>
        <if test="content != null" >
          or content like '%${sSearch}%'
        </if>
      </where>
    </if>
  </select>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithCategoryAndBLOBs" parameterType="java.lang.Integer" >
    select
    t1.id, title, description, click_count, is_recommend, date_publish, author_id, category_id,
    tag_id,photo, category_name,
    <include refid="Blob_Column_List" />
    from blog_article t1, blog_category t2
    where t1.id = #{id,jdbcType=INTEGER} and t1.category_id = t2.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteBatch" parameterType="int[]" >
    delete from blog_article
    where id in
    <foreach collection="array" item="ids" index="no" open="("
             separator="," close=")">
      ${ids}
    </foreach>
  </delete>
  <insert id="insert" parameterType="gr.blog.model.Article" >
    insert into blog_article (id, title, description,
    click_count, is_recommend, date_publish,
    author_id, category_id, tag_id,
    content,photo)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
    #{clickCount,jdbcType=INTEGER}, #{isRecommend,jdbcType=VARCHAR}, #{datePublish,jdbcType=DATE},
    #{authorId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{tagId,jdbcType=INTEGER},
    #{content,jdbcType=LONGVARCHAR}),#{photo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="gr.blog.model.Article" >
    insert into blog_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="clickCount != null" >
        click_count,
      </if>
      <if test="isRecommend != null" >
        is_recommend,
      </if>
      <if test="datePublish != null" >
        date_publish,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="photo != null" >
        photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        #{isRecommend,jdbcType=VARCHAR},
      </if>
      <if test="datePublish != null" >
        #{datePublish,jdbcType=DATE},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 增加点击量 -->
  <update id="addClickCount" parameterType="java.lang.Integer">
    update blog_article set click_count = click_count+1 where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="gr.blog.model.Article" >
    update blog_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="clickCount != null" >
        click_count = #{clickCount,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null" >
        is_recommend = #{isRecommend,jdbcType=VARCHAR},
      </if>
      <if test="datePublish != null" >
        date_publish = #{datePublish,jdbcType=DATE},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="tagId != null" >
        tag_id = #{tagId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="gr.blog.model.Article" >
    update blog_article
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      is_recommend = #{isRecommend,jdbcType=VARCHAR},
      date_publish = #{datePublish,jdbcType=DATE},
      author_id = #{authorId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      tag_id = #{tagId,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="gr.blog.model.Article" >
    update blog_article
    set title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      click_count = #{clickCount,jdbcType=INTEGER},
      is_recommend = #{isRecommend,jdbcType=VARCHAR},
      date_publish = #{datePublish,jdbcType=DATE},
      author_id = #{authorId,jdbcType=INTEGER},
      category_id = #{categoryId,jdbcType=INTEGER},
      tag_id = #{tagId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>