<!DOCTYPE html>
<html lang="en"
      th:with="path=${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #httpServletRequest.getServerPort()  + #httpServletRequest.getContextPath()}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"></meta>
    <title>Single Post</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" th:href="${path}+'/css/bootstrap.min.css'"></link>

    <!-- Font-Awesome -->
    <link rel="stylesheet" th:href="${path}+'/css/font-awesome/css/font-awesome.min.css'"></link>

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'></link>

    <!-- Styles -->
   <link rel="stylesheet" th:href="${path}+'/css/style.css'" id="theme-styles'"></link>

    <!--[if lt IE 9]>      
        <script th:src="${path}+'/js/vendor/google/html5-3.6-respond-1.1.0.min.js'"></script>
    <![endif]-->

    
</head>
<body>
    <header th:include="common/html/header::header"></header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <article class="blog-post">
                        <header>
                            <div class="lead-image">
                                <img th:src="${article.photo}" alt="" class="img-responsive"></img>
                            </div>
                        </header>

                        <div class="body">
                            <h1 th:text="${article.title}"></h1>
                            <div class="meta">
                                <i class="fa fa-user"></i><span th:text="${article.authorId}"></span><i class="fa fa-calendar"></i><span th:text="${article.datePublish != null}?${#dates.format(article.datePublish, 'yyyy-MM-dd')}:'null'"></span><i class="fa fa-comments"></i><span class="data"><a href="#comments">3 条评论</a></span>
                            </div>
                            <p th:utext="${article.content}">文章主体</p>
                        </div>
                    </article>

                    <aside class="social-icons clearfix">
                        <h3>分享至 </h3>
                        <a href="#"><i class="fa fa-qq"></i></a> <a href="#"><i class="fa fa-weixin"></i></a> <a href="#"><i class="fa fa-github"></i></a>
                    </aside>

                    <aside class="comments" id="comments">
                        <hr></hr>

                        <h2><i class="fa fa-comments"></i> 6 条评论</h2>

                        <article class="comment">
                            <header class="clearfix">
                                <img th:src="${path}+'/img/avatar.png'" alt="A Smart Guy" class="avatar"></img>
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>

                        <article class="comment reply">
                            <header class="clearfix">
                                <img th:src="${path}+'/img/avatar.png'" alt="A Smart Guy" class="avatar"></img>
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>

                        <article class="comment ">
                            <header class="clearfix">
                                <img th:src="${path}+'/img/avatar.png'" alt="A Smart Guy" class="avatar"></img>
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>

                        <article class="comment">
                            <header class="clearfix">
                                <img th:src="${path}+'/img/avatar.png'" alt="A Smart Guy" class="avatar"></img>
                                <div class="meta">
                                    <h3><a href="#">John Doe</a></h3>
                                    <span class="date">
                                        24 August 2015
                                    </span>
                                    <span class="separator">
                                        -
                                    </span>
                                    
                                    <a href="#create-comment" class="reply-link">Reply</a>                
                                </div>
                            </header>
                             <div class="body">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.
                            </div>
                        </article>        
                    </aside>

                    <aside class="create-comment" id="create-comment">
                        <hr></hr>

                        <h2><i class="fa fa-pencil"></i> 添加评论</h2>

                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" id="comment-name" placeholder="您的名字" class="form-control input-lg">  </input>
                                </div>
                                <div class="col-md-6">
                                    <input type="email" name="email" id="comment-email" placeholder="邮箱" class="form-control input-lg"> </input>
                                </div>
                            </div>

                            <input type="url" name="name" id="comment-url" placeholder="个人主页" class="form-control input-lg"></input>

                            <textarea rows="10" name="message" id="comment-body" placeholder="Your Message" class="form-control input-lg"></textarea>

                            <div class="buttons clearfix">
                                <button type="submit" class="btn btn-xlarge btn-clean-one">提交</button>
                            </div>
                        </form>
                    </aside>
                </div>
                <aside class="col-md-4 blog-aside" th:include="common/html/aside::aside"></aside>
            </div>
        </div>
    </div>

    <footer th:include="common/html/footer::footer"></footer>

    <script th:src="${path}+'/js/jquery.min.js'"></script>
    <script th:src="${path}+'/js/bootstrap.min.js'"></script>
    <script th:src="${path}+'/js/modernizr.js'"></script>

</body>
</html>