<!DOCTYPE html>
<html lang="en"       th:with="path=${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #httpServletRequest.getServerPort()  + #httpServletRequest.getContextPath()}"
>
<head>
    <meta charset="UTF-8"></meta>
    <title>错误页面</title>
</head>
<body>
前台错误处理页面 有待改善！！I
<form name="112">
    nihao ;<textarea name="content"></textarea>
    <input type="submit" value="tijiao "></input>
</form>
<!-- import ckeditor4 -->
<script th:src="${path} + '/ckeditor/ckeditor.js'"></script>
<script>
        CKEDITOR.replace("content",
                        {
                            filebrowserUploadUrl : '/back/image/fileUpload',
                            filebrowserImageUploadUrl : '/back/image/fileUpload'
                        });
    </script>
</body>
</html>