<!DOCTYPE html>
<html lang="en"
      th:with="path=${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #httpServletRequest.getServerPort()  + #httpServletRequest.getContextPath()}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"></meta>
    <title>Single Post</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>

    <!-- Bootstrap styles -->
    <link rel="stylesheet" th:href="${path}+'/css/bootstrap.min.css'"></link>
    <!-- Font-Awesome -->
    <link rel="stylesheet" th:href="${path}+'/css/font-awesome/css/font-awesome.min.css'"></link>
    <!-- Styles -->
    <link rel="stylesheet" th:href="${path}+'/css/style.css'"></link>
    <link rel="stylesheet" th:href="${path}+'/css/pagination.css'"></link>

</head>
<body>
    <header th:include="common/html/header::header"></header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main">
                    <div class="row">
                        <div class="col-md-6 col-sm-6" th:each="art,status:${articleList}" th:if="${status.index} == 0">
                            <article class=" blog-teaser">
                                <header>
                                    <img th:src="${art.photo}" alt=""></img>
                                    <h3><a th:href="${path}+'/detail/'+${art.id}" th:text="${art.title}">标题</a></h3>
                                    <span class="meta" th:text= "${art.datePublish != null}?${#dates.format(art.datePublish, 'yyyy-MM-dd')}:'null'">Time</span>/<span style="background-color:#343a40;" class="badge" th:text="${art.blogCategory.categoryName}">Primary</span>
                                    <hr></hr>
                                </header>
                                <div class="body" th:text="${art.description}">
                                     文章简介
                                </div>
                                <div class="clearfix">
                                    <a th:href="${path}+'/detail/'+${art.id}" class="btn btn-clean-one">Read more</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-sm-6" th:each="art,status:${articleList}" th:if="${status.index} == 1">
                            <article class="blog-teaser">
                                <header>
                                    <img th:src="${art.photo}" alt=""></img>
                                    <h3><a th:href="${path}+'/detail/'+${art.id}" th:text="${art.title}">标题</a></h3>
                                    <span class="meta" th:text= "${art.datePublish != null}?${#dates.format(art.datePublish, 'yyyy-MM-dd')}:'null'">Time</span>/<span style="background-color:#343a40;" class="badge" th:text="${art.blogCategory.categoryName}">Primary</span>
                                    <hr></hr>
                                </header>
                                <div class="body" th:text="${art.description}">
                                    文章简介
                                </div>
                                <div class="clearfix">
                                    <a th:href="${path}+'/detail/'+${art.id}" class="btn btn-clean-one">Read more</a>
                                </div>
                            </article>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 col-sm-6" th:each="art,status:${articleList}" th:if="${status.index} == 2">
                            <article class="blog-teaser">
                                <header>
                                    <img th:src="${art.photo}" alt=""></img>
                                    <h3><a th:href="${path}+'/detail/'+${art.id}" th:text="${art.title}">标题</a></h3>
                                    <span class="meta" th:text= "${art.datePublish != null}?${#dates.format(art.datePublish, 'yyyy-MM-dd')}:'null'">Time</span>/<span style="background-color:#343a40;" class="badge" th:text="${art.blogCategory.categoryName}">Primary</span>
                                    <hr></hr>
                                </header>
                                <div class="body" th:text="${art.description}">
                                    文章简介
                                </div>
                                <div class="clearfix">
                                    <a th:href="${path}+'/detail/'+${art.id}" class="btn btn-clean-one">Read more</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-6 col-sm-6" th:each="art,status:${articleList}" th:if="${status.index} == 3">
                            <article class="blog-teaser">
                                <header>
                                    <img th:src="${art.photo}" alt=""></img>
                                    <h3><a th:href="${path}+'/detail/'+${art.id}" th:text="${art.title}">标题</a></h3>
                                    <span class="meta" th:text= "${art.datePublish != null}?${#dates.format(art.datePublish, 'yyyy-MM-dd')}:'null'">Time</span>/<span style="background-color:#343a40;" class="badge" th:text="${art.blogCategory.categoryName}">Primary</span>
                                    <hr></hr>
                                </header>
                                <div class="body" th:text="${art.description}">
                                    文章简介
                                </div>
                                <div class="clearfix">
                                    <a th:href="${path}+'/detail/'+${art.id}" class="btn btn-clean-one">Read more</a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="pagination">

                    </div>
                </div>
                <aside class="col-md-4 blog-aside" th:include="common/html/aside::aside"></aside>
            </div>
        </div>
    </div>

    <footer th:include="common/html/footer::footer"></footer>

    <script th:src="${path}+'/js/jquery.min.js'"></script>
    <script th:src="${path}+'/js/bootstrap.min.js'"></script>
    <script th:src="${path}+'/js/modernizr.js'"></script>
    <script th:src="${path}+'/js/jquery.pagination.js'"></script>
    <script th:inline="javascript">
        var opt = getOptionsFromForm();

        function getOptionsFromForm(){
            var opt = {callback: pageselectCallback};
            opt.num_display_entries = 5;
            opt.items_per_page = [[${page.pageSize}]];
            opt.num_edge_entries = 1;
            opt.prev_text = '上页';
            opt.next_text = '下页';
            return opt;
        }

        $('.pagination').pagination([[${page.total}]], opt);

        function pageselectCallback(page_index, jq){
            //alert($(this).pagination);
            return false;
        }
    </script>
</body>
</html>