<nav class="nav" id="topnav" th:fragment="header">
    <h1 class="logo"><a href="/">蒋中英</a></h1>
    <li><a href="/index">网站首页</a> </li>
    <li><a href="/about.html">关于我</a> </li>
    <li><a href="#">模板分享</a>
        <ul class="sub-nav">
            <li><a href="/category/4/">个人博客模板</a></li>
            <li><a href="/category/5/">国外Html5模板</a></li>
            <li><a href="/category/6/">企业网站模板</a></li>
        </ul>
    </li>
    <li><a href="#">学无止境</a>
        <ul class="sub-nav">
            <li><a href="/category/7/">C/C++</a></li>
            <li><a href="/category/8/">css/html/js</a></li>
            <li><a href="/category/9/">Python</a></li>
            <li><a href="/category/10/">Java</a></li>
        </ul>
    </li>
    <li><a href="#">慢生活</a>
        <ul class="sub-nav">
            <li><a href="/category/11/">个人日记</a></li>
            <li><a href="/category/12/">美图欣赏</a></li>
            <li><a href="/category/13/">程序人生</a></li>
            <li><a href="/category/14/">经典语录</a></li>
        </ul>
    </li>
    <li><a href="/time.html">时间轴</a> </li>
    <li><a href="/comment.html">留言</a> </li>
    <!--search begin-->
    <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
            <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
            <input type="hidden" name="show" value="title" />
            <input type="hidden" name="tempid" value="1" />
            <input type="hidden" name="tbname" value="news">
            <input type="hidden" name="Submit" value="搜索" />
            <span class="search_ico"></span>
        </form>
    </div>
    <!--search end-->
</nav>
<div th:fragment="mnav">
    <h2><a href="http://jzyblog.top" class="mlogo">中英博客</a><span class="navicon"></span></h2>
    <dl class="list_dl">
    <dt class="list_dt"> <a href="/index">网站首页</a> </dt>
    <dt class="list_dt"> <a href="/about.html">关于我</a> </dt>
    <dt class="list_dt"> <a href="#">模板分享</a> </dt>
    <dd class="list_dd">
        <ul>
            <li><a href="/category/4/">个人博客模板</a></li>
            <li><a href="/category/5/">国外Html5模板</a></li>
            <li><a href="/category/6/">企业网站模板</a></li>
        </ul>
    </dd>
    <dt class="list_dt"> <a href="#">学无止境</a> </dt>
    <dd class="list_dd">
        <ul>
            <li><a href="/category/7/">C/C++</a></li>
            <li><a href="/category/8/">CSS3|H5|JS</a></li>
            <li><a href="/category/9/">Java</a></li>
            <li><a href="/category/10/">Python</a></li>
        </ul>
    </dd>
    <dt class="list_dt"> <a href="#">慢生活</a> </dt>
    <dd class="list_dd">
        <ul>
            <li><a href="/category0/11/">个人日记</a></li>
            <li><a href="/category/12/">美图欣赏</a></li>
            <li><a href="/category/13/">程序人生</a></li>
            <li><a href="/category/14/">经典语录</a></li>
        </ul>
    </dd>
    <dt class="list_dt"> <a href="/time.html">时间轴</a> </dt>
    <dt class="list_dt"> <a href="/comment.html">留言</a> </dt>
</dl>
</div>
<!-- 右侧推荐区 -->
<div th:fragment="sidebar">
<div class="zhuanti" th:if="${special.size() != 0}">
    <h2 class="hometitle">特别推荐</h2>
    <ul>
        <li th:if="${special.size() > 0}"> <i><img th:src="${#strings.arraySplit(special[0].photo, ';')[0]}"></i>
            <p th:utext="${special[0].title} + '<span><a href=&quot;/detail/' + ${special[0].id}+ '&quot;>阅读</a></span>'">帝国cms调用方法</p>
        </li>
        <li th:if="${special.size() > 1}"> <i><img th:src="${#strings.arraySplit(special[1].photo, ';')[0]}"></i>
            <p th:utext="${special[1].title} + '<span><a href=&quot;/detail/' + ${special[1].id}+ '&quot;>阅读</a></span>'">帝国cms调用方法</p>
        </li>
        <li th:if="${special.size() > 2}"> <i><img th:src="${#strings.arraySplit(special[2].photo, ';')[0]}"></i>
            <p th:utext="${special[2].title} + '<span><a href=&quot;/detail/' + ${special[2].id}+ '&quot;>阅读</a></span>'">帝国cms调用方法</p>
        </li>
    </ul>
</div>
<div class="tuijian">
    <h2 class="hometitle">推荐文章</h2>

    <ul class="tjpic" th:if="${recommend.size() != 0}">
        <i><img th:src="${#strings.arraySplit(recommend[0].photo, ';')[0]}"></i>
        <p><a th:href="'/detail/' + ${recommend[0].id}" th:text="${recommend[0].title}">别让这些闹心的套路，毁了你的网页设计</a></p>
    </ul>

    <ul class="sidenews">
        <li th:if="${recommend.size() > 1}"> <i><img th:src="${#strings.arraySplit(recommend[1].photo, ';')[0]}"></i>
            <p>
                <a th:href="'/detail/' + ${recommend[0].id}" th:text="${recommend[1].title}">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
            <span th:text="${#dates.format(recommend[0].datePublish, 'yyyy-MM-dd')}">2018-05-13</span>
        </li>

        <li th:if="${recommend.size() > 2}"> <i><img th:src="${#strings.arraySplit(recommend[2].photo, ';')[0]}"></i>
            <p>
                <a th:href="'/detail/' + ${recommend[2].id}" th:text="${recommend[2].title}">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
            <span th:text="${#dates.format(recommend[2].datePublish, 'yyyy-MM-dd')}">2018-05-13</span>
        </li>

        <li th:if="${recommend.size() > 3}"> <i><img th:src="${#strings.arraySplit(recommend[3].photo, ';')[0]}"></i>
            <p>
                <a th:href="'/detail/' + ${recommend[3].id}" th:text="${recommend[3].title}">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
            <span th:text="${#dates.format(recommend[3].datePublish, 'yyyy-MM-dd')}">2018-05-13</span>
        </li>

        <li th:if="${recommend.size() > 4}"> <i><img th:src="${#strings.arraySplit(recommend[4].photo, ';')[0]}"></i>
            <p>
                <a th:href="'/detail/' + ${recommend[4].id}" th:text="${recommend[4].title}">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
            <span th:text="${#dates.format(recommend[4].datePublish, 'yyyy-MM-dd')}">2018-05-13</span>
        </li>
    </ul>
</div>
<div class="tuijian">
    <h2 class="hometitle">点击排行</h2>
    <ul class="tjpic" th:if="${click.size() != 0}">
        <i><img th:src="${#strings.arraySplit(click[0].photo, ';')[0]}"></i>
        <p><a th:href="'/detail/' + ${click[0].id}" th:text="${click[0].title}">别让这些闹心的套路，毁了你的网页设计</a></p>
    </ul>

    <ul class="sidenews">
        <li th:if="${click.size() > 1}"> <i><img th:src="${#strings.arraySplit(click[1].photo, ';')[0]}"></i>
            <p>
                <a th:href="'/detail/' + ${click[0].id}" th:text="${click[1].title}">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
            <span th:text="${#dates.format(click[0].datePublish, 'yyyy-MM-dd')}">2018-05-13</span>
        </li>

        <li th:if="${click.size() > 2}"> <i><img th:src="${#strings.arraySplit(click[2].photo, ';')[0]}"></i>
            <p>
                <a th:href="'/detail/' + ${click[2].id}" th:text="${click[2].title}">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
            <span th:text="${#dates.format(click[2].datePublish, 'yyyy-MM-dd')}">2018-05-13</span>
        </li>

        <li th:if="${click.size() > 3}"> <i><img th:src="${#strings.arraySplit(click[3].photo, ';')[0]}"></i>
            <p>
                <a th:href="'/detail/' + ${click[3].id}" th:text="${click[3].title}">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
            <span th:text="${#dates.format(click[3].datePublish, 'yyyy-MM-dd')}">2018-05-13</span>
        </li>

        <li th:if="${click.size() > 4}"> <i><img th:src="${#strings.arraySplit(click[4].photo, ';')[0]}"></i>
            <p>
                <a th:href="'/detail/' + ${recommend[4].id}" th:text="${click[4].title}">别让这些闹心的套路，毁了你的网页设计</a>
            </p>
            <span th:text="${#dates.format(click[4].datePublish, 'yyyy-MM-dd')}">2018-05-13</span>
        </li>
    </ul>
</div>
<div class="cloud">
    <h2 class="hometitle">标签云</h2>
    <ul th:if="${tagsCloud.size() != 0}">
        <a th:each="tag: ${tagsCloud}" href="/" th:text="${tag.tag_name}">陌上花开</a>
    </ul>
</div>
<div class="links">
    <h2 class="hometitle">友情链接</h2>
    <ul>
        <li><a href="http://www.yangqq.com" target="_blank">杨青博客</a></li>
        <li><a href="#">XXX博客</a></li>
        <li><a href="#">XXX博客</a></li>
    </ul>
</div>
<div class="guanzhu" id="follow-us">
    <h2 class="hometitle">关注我们 么么哒！</h2>
    <ul>
        <li class="github"><a href="https://github.com/jzyGithub" target="_blank"><span>Github</span>jzyGithub</a></li>
        <li class="csdn"><a href="https://blog.csdn.net/qq_33032573" target="_blank"><span>CSDN</span>丢雷老某</a></li>
        <li class="qq"><a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=1303858849&website=www.oicqzone.com" target="_blank"><span>QQ号</span>1303858849</a></li>
        <li class="email"><a href="javascript:void(0);" target="_self" onclick="function(){return false;}"><span>邮箱帐号</span>1303858849@qq.com</a></li>
        <li class="wxgzh"><a href="/" target="_blank"><span>微信号</span>15765519001</a></li>
        <li class="wx"><img src="/yangqq/images/wx.jpg"></li>
    </ul>
</div>
</div>

<!-- footer -->
<p th:fragment="footer">Design by <a href="http://jzyblog.top" target="_blank">蒋中英个人博客</a> <a href="/">本站仅作为个人学习使用。</a></p>