<nav class="nav" id="topnav" th:fragment="header">
    <h1 class="logo"><a href="/">中英博客</a></h1>
    <li><a href="/index">网站首页</a> </li>
    <li><a href="/about.html">关于我</a> </li>
    <li><a href="#">模板分享</a>
        <ul class="sub-nav">
            <li><a href="/category/4/">个人博客模板</a></li>
            <li><a href="/category/5/">国外Html5模板</a></li>
            <li><a href="/category/6/">企业网站模板</a></li>
        </ul>
    </li>
    <li><a href="#">学无止境</a>
        <ul class="sub-nav">
            <li><a href="/category/7/">C/C++</a></li>
            <li><a href="/category/8/">css/html/js</a></li>
            <li><a href="/category/9/">Python</a></li>
            <li><a href="/category/10/">Java</a></li>
        </ul>
    </li>
    <li><a href="#">慢生活</a>
        <ul class="sub-nav">
            <li><a href="/category/11/">个人日记</a></li>
            <li><a href="/category/12/">美图欣赏</a></li>
            <li><a href="/category/13/">程序人生</a></li>
            <li><a href="/category/14/">经典语录</a></li>
        </ul>
    </li>
    <li><a href="/time.html">时间轴</a> </li>
    <li><a href="/comment.html">留言</a> </li>
    <!--search begin-->
    <div id="search_bar" class="search_bar">
        <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
            <input class="input" placeholder="想搜点什么呢..." type="text" name="keyboard" id="keyboard">
            <input type="hidden" name="show" value="title" />
            <input type="hidden" name="tempid" value="1" />
            <input type="hidden" name="tbname" value="news">
            <input type="hidden" name="Submit" value="搜索" />
            <span class="search_ico"></span>
        </form>
    </div>
    <!--search end-->
</nav>

<!-- 右侧推荐区 -->
<div th:fragment="sidebar">
<div class="zhuanti">
    <h2 class="hometitle">特别推荐</h2>
    <ul>
        <li> <i><img src="/yangqq/images/banner03.jpg"></i>
            <p>帝国cms调用方法 <span><a href="/">阅读</a></span> </p>
        </li>
        <li> <i><img src="/yangqq/images/b04.jpg"></i>
            <p>5.20 我想对你说 <span><a href="/">阅读</a></span></p>
        </li>
        <li> <i><img src="/yangqq/images/b05.jpg"></i>
            <p>个人博客，属于我的小世界！ <span><a href="/">阅读</a></span></p>
        </li>
    </ul>
</div>
<div class="tuijian">
    <h2 class="hometitle">推荐文章</h2>
    <ul class="tjpic">
        <i><img src="/yangqq/images/toppic01.jpg"></i>
        <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
    </ul>
    <ul class="sidenews">
        <li> <i><img src="/yangqq/images/toppic01.jpg"></i>
            <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
            <span>2018-05-13</span> </li>
        <li> <i><img src="/yangqq/images/toppic02.jpg"></i>
            <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
            <span>2018-05-13</span> </li>
        <li> <i><img src="/yangqq/images/v1.jpg"></i>
            <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
            <span>2018-05-13</span> </li>
        <li> <i><img src="/yangqq/images/v2.jpg"></i>
            <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
            <span>2018-05-13</span> </li>
    </ul>
</div>
<div class="tuijian">
    <h2 class="hometitle">点击排行</h2>
    <ul class="tjpic">
        <i><img src="/yangqq/images/toppic01.jpg"></i>
        <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
    </ul>
    <ul class="sidenews">
        <li> <i><img src="/yangqq/images/toppic01.jpg"></i>
            <p><a href="/">别让这些闹心的套路</a></p>
            <span>2018-05-13</span> </li>
        <li> <i><img src="/yangqq/images/toppic02.jpg"></i>
            <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
            <span>2018-05-13</span> </li>
        <li> <i><img src="/yangqq/images/v1.jpg"></i>
            <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
            <span>2018-05-13</span> </li>
        <li> <i><img src="/yangqq/images/v2.jpg"></i>
            <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
            <span>2018-05-13</span> </li>
    </ul>
</div>
<div class="cloud">
    <h2 class="hometitle">标签云</h2>
    <ul>
        <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a> <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
    </ul>
</div>
<div class="links">
    <h2 class="hometitle">友情链接</h2>
    <ul>
        <li><a href="http://www.yangqq.com">杨青博客</a></li>
        <li><a href="#">设计师博客</a></li>
        <li><a href="#">优秀个人博客</a></li>
    </ul>
</div>
<div class="guanzhu" id="follow-us">
    <h2 class="hometitle">关注我们 么么哒！</h2>
    <ul>
        <li class="github"><a href="https://github.com/jzyGithub" target="_blank"><span>Github</span>jzyGithub</a></li>
        <li class="csdn"><a href="https://blog.csdn.net/qq_33032573" target="_blank"><span>CSDN</span>丢雷老某</a></li>
        <li class="qq"><a href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=1303858849&website=www.oicqzone.com" target="_blank"><span>QQ号</span>1303858849</a></li>
        <li class="email"><a href="javascript:void(0);" target="_self" onclick="function(){return false;}"><span>邮箱帐号</span>1303858849@qq.com</a></li>
        <li class="wxgzh"><a href="/" target="_blank"><span>微信号</span>15765519001</a></li>
        <li class="wx"><img src="/yangqq/images/wx.jpg"></li>
    </ul>
</div>
</div>

<!-- footer -->
<p th:fragment="footer">Design by <a href="http://jzyblog.top" target="_blank">蒋中英个人博客</a> <a href="/">京ICP备XXXXXX号-1</a></p>