<div  th:fragment="header">
    <div class="widewrapper masthead" >
        <div class="container">
            <a th:href="${path}+'/index'" id="logo">
                <img th:src="${path}+'/img/logo.png'" alt="clean Blog"></img>
            </a>
        </div>
    </div>
    <div class="widewrapper subheader">
        <div class="container">
            <div class="clean-breadcrumb">
                <a th:href="${path}">首页</a>
            </div>
            <div class="clean-breadcrumb">
                <a th:href="${path}">技术人生</a>
            </div>
            <div class="clean-breadcrumb">
                <a href="#">个人日记</a>
            </div>
            <div class="clean-breadcrumb">
                <a th:href="${path} + '/about'">关于俺</a>
            </div>
            <div class="clean-breadcrumb">
                <a href="#">留言</a>
            </div>


            <div class="clean-searchbox">
                <form action="#" method="get" accept-charset="utf-8">
                    <input class="searchfield" id="searchbox" type="text" placeholder="搜索"></input>
                    <button class="searchbutton" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>